/* style.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background: url("slide/image/bg1.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Logo */
.logo {
    position: fixed;
    top: 200px;
    left: 20px;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

/* Form container */
.form-box {
    background: rgb(255, 254, 254);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
    width: 350px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.form-box h2 {
    margin-bottom: 20px;
}

.form-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
}

.form-box button {
    width: 100%;
    padding: 12px;
    background: red;
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
}

.form-box button:hover {
    background: darkred;
}

.form-box a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}

.container {
  background: #b4b4b4c5;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0);
  width: 350px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  margin-bottom: 15px;
}

.input-box label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #000000;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #3b75c2;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #3b75c2;
}

p {
  text-align: center;
  margin-top: 10px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
